aws_profile = "your-profile"
aws_key_pair_file = "your_key.pem"
aws_key_pair_name = "your_key_name"
aws_availability_zone = "a"
tag_customer = "testing"
tag_project = "project"
tag_name = "name"
tag_dept = "department"
tag_contact = "your@email.com"
tag_application = "aws_inspec_demo"
tag_ttl = "4"
